<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>About</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="/static/css/slick-theme.css" />
  <!-- font awesome style -->
  <link href="/static/css/about-font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/static/css/about-style.css" rel="stylesheet" />
  
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <script type="text/javascript"> 
   function preventBack() { 
       window.history.forward();  
   } 
     
   setTimeout("preventBack()", 0); 
     
   window.onunload = function () { null }; 
</script> 
</head>
<body>
<div class="header_section header_bg">
  <div class="container-fluid">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"href="index.html"><img src="/static/images/Bakery-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item">
                 <a class="nav-link" href="index.html">Home</a>
              </li> -->
            
              <li class="nav-item active">
                 <a class="nav-link" href="/about/">About</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="/contact/">Contact</a>
              </li>
              <!-- <li class="nav-item">
                 <a class="nav-link" href="/tHistory/">Transaction History</a>
              </li> -->
              <!-- <li class="nav-item">
                 <a class="nav-link" href="contact.html">Contact</a>
              </li> -->
           <!-- </ul>
           <form class="form-inline my-1 my-lg-0">
              <div class="login_bt">
                 <ul>
                    <li><a href="/logout/"><span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span>logout</a></li>
                     <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li> -->
                 <!-- </ul>
              </div> --> 
           </form>
        </div>
     </nav>
  </div>
</div>
<!-- header section end -->


    <!-- about section -->

    <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  About Our Bakery
                </h2>
              </div>
              <p>
                
DozeBakery is a digital platform that allows customers to browse, select, and purchase baked goods through the internet. These bakeries leverage e-commerce technology to provide a convenient and accessible way for people to enjoy freshly baked products without having to visit a physical store. Customers can explore a variety of items such as cakes, cookies, pastries, and more, all from the comfort of their homes.
              </p>
              <a href="#">
                <span>
                  Read More
                </span>
                <img src="/static/images/color-arrow.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="/static/images/about-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="address_text">Address</h1>
                  <p class="footer_text">here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use </p>
                  <div class="location_text">
                     <ul>
                        <li>
                           <a href="#">
                           <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">+01 1234567890</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">demo@gmail.com</span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="form-group">
                   
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
   

    <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- slick slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>

</body>

</html>