<!DOCTYPE html>
<html>
<head>
<title>Order</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/static/css/register.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
<script type="text/javascript"> 
	function preventBack() { 
		window.history.forward();  
	} 
	  
	setTimeout("preventBack()", 0); 
	  
	window.onunload = function () { null }; 
</script> 
</head>
<body class="body">
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Order</h1>
		<div class="main-agileinfo">
            <div class="agileits-top">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <img src="{{y.url}}" alt="img" height="150" width="150"><br>
                    <label class="name">Product name:</label>
                    <input type="text"  placeholder="{{x}}" readonly><br>
                    <br>
                    <label class="name">Quantity</label>
                    <input class="text" type="number" name="qn" min="1" max="10" required=""><br>  
					<div class="wthree-text">
					
						<div class="clear"> </div>
					</div>
					<input type="submit" value="Request Order">
				</form>
			</div>
		</div>
        </div>
